{{bar}}
<div class="container vertical-center text-center">
    <div class="row">
        <div class="col-md-6" style="padding-top: 45px">
            <h3>Your campaigns</h3>
            <hr>
            {{bar}}
            {{#each foo}}
                <div class="panel panel-info text-left">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{this.name}}</h3>
                    </div>
                    <div class="panel-body" style="width: inherit">
                        <p><span style="font-size: large;font-weight: 600">Notes : </span>{{this.notes}}</p>
                        <hr>
                        <h4>Link : <span style="float: right"><button type="submit" class="btn btn-default navbar-btn" name="copy">Copy link to clipboard</button></span></h4>
                        <span>http://localhost:5000/pic?d={{this.hash}}</span> <span>&t={{this.token}}</span>
                        <p><span>https://frozen-sea-7283.herokuapp.com/pic?d={{this.hash}}</span> <span>&t={{this.token}}</span></p>
                        <hr>
                        <button type="submit" class="btn btn-primary navbar-btn" name="copy">Download results</button>
                    </div>
                </div>
            {{else}}
                <h4>No campaigns yet.</h4>
            {{/each}}
        </div>
        <div class="col-md-6" style="padding-top: 45px">
            <h3>New campaign</h3>
            <hr>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-left">Create</h3>
                </div>
                <div class="panel-body">
                    <form action="new_campaign" method="post">
                        <div class="input-group" id="field-group">
                            <span class="input-group-addon" id="basic-addon1">Name</span>
                            <input type="text" class="form-control" placeholder="Campaign name" name="name"
                                   aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group" id="field-group">
                            <span class="input-group-addon" id="basic-addon1">Notes</span>
                            <textarea rows="3" class="form-control" placeholder="Notes" name="notes"
                                      aria-describedby="basic-addon1"></textarea>
                        </div>

                        <div style="padding-left: 30px">
                            <button type="submit" class="btn btn-primary navbar-btn" style="float: left;">Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
