<div class="spacer" style="margin-top: 40px"/>
<div id="container">
  <div class="case-page-left-box">
    <div class="case-page-case">
        <p style="font-weight:bolder">Name :</p>
        <p>{{name}}</p>
        <p style="font-weight:bolder">Phone Number :</p>
        <p>+91{{phonenumber}}</p>
        <p style="font-weight:bold">{{illness}} since 3 days</p>
        <div>{{description}}</div>
    </div>
  </div>

  <div class="case-page-right-box">
    <div class="case-page-checklist">
      <div class="green-background-white-font">
        <span class="fa fa-check"></span><p>Found your Doctor</p>
      </div>
      <div>
        <span class="fa fa-spinner"></span><p>Sending your Prescription</p>
      </div>
      <div>
        <span class="fa fa-spinner"></span><p>Get Prescription Delivered</p>
      </div>
      <div>
        <span class="fa fa-spinner"></span><p>Refill Prescription</p>
      </div>
    </div>
  </div>
</div>
