<style>
    .flexcontainer {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: center;
        justify-content: center;
    }
</style>

<div id="consult" class="spacer" style="padding-top: 110px;">
    <div class="container contactform center" id="consultform" style="display: block;">
        <h2 class="text-center  wowload fadeInUp">Get in touch with your doctor now!</h2>
        <div class="row wowload">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                <form action="consult" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <select class="form-control" name="specialist" onchange="specialistSelected(this);">
                            <option value="GP">General Physician</option>
                            <option value="GY">Gynecologist</option>
                            <option value="DL">Dermatologist</option>
                            <option value="CL">Cosmotologist</option>
                            <option value="SX">Sexologist</option>
                            <option value="PS">Psychologist</option>
                            <option value="VE">Veterinarian</option>
                            <option value="PC">Plastic/Cosmetic Surgeon</option>
                            <option value="PD">Pediatrician</option>
                            <option value="NU">Nutritionist</option>
                        </select>
                    </div>
                    <div class="form-group" id="illness">
                        <select class="form-control illness-select" name="illness" onchange="illnessSelected(this);">
                            <option value="0">Fever</option>
                            <option value="1">Cough</option>
                            <option value="2">Cold</option>
                            <option value="3">Weight Management</option>
                            <option value="-1">Other</option>
                        </select>
                    </div>
                    <div class="form-group" id="other-illness">
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="since">
                            <option value="0">Since Today</option>
                            <option value="1">Since Yesterday</option>
                            <option value="2">Since 2 days</option>
                            <option value="2">Since 3 days</option>
                            <option value="3">Since &#x3E;3 days</option>
                        </select>
                    </div>
                    <textarea rows="5" placeholder="Description*" name="desc" required></textarea>
                    <input class="file" type="file" rows="5" placeholder="Upload pics" name="avatar"/>
                    <button class="btn btn-primary"><i class="fa fa-paper-plane"></i> Consult Now</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="flexcontainer" align="center" style="background-color: white; padding-top: 30px; min-height: 140px; padding-bottom: 20px; text-align: left">
    <div style="padding: 0 7.5% 0 10%">
        <h4 style="font-weight: 600; text-align: center">Service</h4>
        <p>We aim to provide the best medical service in the industry. May the wind be in your sails/sales and the fish waiting to be hooked.</p>
        <h4 style="font-weight: 600; text-align: center">Specialists</h4>
        <p>Top specialists in the industry will be with you in 20 mins. You can register a doctor again, your own private doctor / Register one as your family doctor?</p>
    </div>

    <div style="padding: 0 10% 0 7.5%">
        <h4 style="font-weight: 600; text-align: center">1 Free follow-up</h4>
        <p>Your doctor will be with you. Your doctor will be with you. Your doctor will be with you. Your doctor will be with you. Your doctor will be with you. Your doctor will be with you.</p>
    </div>
</div>
<script src="assets/consult.js"></script>
