<div id="signup" class="spacer" style="padding-top: 135px;">
    <!--Contact Starts-->
    {{foo}}
    <div class="container contactform center" id="registerform" style="width: 60%; padding: 20px 0 0 0;background: white; display: block; border-radius: 4px;box-shadow: 0px 0px 5px #888888;">
        <h2 class="text-center wowload fadeInUp" style="margin: 10px 0 42px 0">Join now and get a free consultation</h2>
        <table>
            <tr>
                <td align="center" style="width: 30%; padding-left: 50px; vertical-align: top">
                    <h5 style="padding-top: 10px"><i class="fa fa-user-md"></i> Top class doctors </h5>
                    <h5 style="padding-top: 37px"><i class="fa fa-user-md"></i> Top class doctors </h5>
                    <h5 style="padding-top: 40px"><i class="fa fa-user-md"></i> Top class doctors </h5>
                    <div style="border: 1px dotted #e4b9b9; padding: 10px">Get in touch with our team.</div>
                </td>
                <td style="width: 70%">
                    <div style="padding: 0 70px 0 85px">
                        <div class="row wowload">
                            <div class="col-sm-12">
                                <form action="signup" method="post">
                                    <input type="text" rows="5" placeholder="Name*" name="name"/>
                                    <input type="text" rows="5" placeholder="Phone number*" name="username"/>
                                    <input type="text" rows="5" placeholder="Email id*" name="email"/>
                                    <input type="password" rows="5" placeholder="Password*" name="password"/>
                                    <p style="padding-left: 10px; font-size: 13px; margin-top: -7px;margin-bottom: 7px">By clicking 'Register' below, you confirm that you accept the terms and conditions.</p>
                                    <button class="btn btn-primary"><i class="fa fa-paper-plane"></i> Register</button>
                                    <p style="padding-top: 10px">Sign in?</p>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>