<div id="consult" class="spacer" style="padding-top: 140px;">
    <!--Contact Starts-->
    <div class="container contactform center" id="registerform" style="width: 60%; padding: 20px 0 65px 0;background: white; display: block; border-radius: 4px;box-shadow: 0px 0px 4px #888888;">
        <h2 class="text-center  wowload fadeInUp" style="margin-bottom: 20px">Sign in!</h2>
        <div style="padding: 0 70px 0 85px">
            <div class="row wowload">
                <div class="col-sm-12">
                    <p style="display: inline">{{foo.error}}</p>
                    <form action="signin" method="post">
                        <input rows="5" placeholder="Phone number/Email id*" name="username"/>
                        <input type="password" rows="5" placeholder="Password*" name="password"/>
                        <button class="btn btn-primary"><i class="fa fa-paper-plane"></i> Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>