<div class="container" style="width: 80%">
    <div class="jumbotron">
        <h1 text-align="center">stats</h1>
        <p>{{foo}}</p>
        <p>{{bar}}</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
</div>