<div class="container vertical-center text-center">
    <div class="row">
        <div class="col-md-4" style="padding-top: 45px">.col-md-4</div>
        <div class="col-md-4 "style="padding-top: 45px">.col-md-4</div>
        <div class="col-md-4" style="padding-top: 45px">.col-md-4</div>
    </div>
</div>

<table>
    <tr>
        <td style="width: 50%">
            <div class="panel panel-default" style="width: 40%; float: left; margin-left: 10%">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width: 50%">
            <div class="panel panel-default" style="width: 40%; float: right; margin-right: 10%">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </td>
    </tr>
</table>


<h3 class="panel-title text-left">Hello<span class="label label-primary" style="float: right">x</span></h3>

//footer

<nav class="navbar navbar-default" style="height: 30px;padding-right: 30px; margin-bottom: 0; bottom: 0;position: fixed; width: 100%">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/contact">Contact us.</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>

<button type="submit" class="btn btn-block navbar-btn" name="copy">Download results</button>
<button type="submit" class="btn btn-danger navbar-btn" name="copy">Download results</button>
<button type="submit" class="btn btn-default navbar-btn" name="copy">Download results</button>
<button type="submit" class="btn btn-info navbar-btn" name="copy">Download results</button>
<button type="submit" class="btn btn-success navbar-btn" name="copy">Download results</button>
<button type="submit" class="btn btn-link navbar-btn" name="copy">Download results</button>